<!-- Informative Videos UI -->
<ion-content class="ion-padding">
  <div class="header">
    <div class="arrow">
      <a href="home-page"><ion-icon name="arrow-back" size="large"></ion-icon></a>
    </div>
    <div class="vids">
      <p class="video">Informative Videos</p>
    </div>
  </div>

  <div id="container">
    <a href="training">
      <ion-card>
        <div class="train">
          <div>
            <ion-card-title>Training</ion-card-title>
          </div>
          <div>
            <ion-img id="training" src="assets/images/training-icon.png"></ion-img>
          </div>
        </div>
      </ion-card>
    </a>

    <a href="grooming">
      <ion-card>
        <div class="groom">
          <div>
            <ion-card-title>Grooming</ion-card-title>
          </div>
          <div>
            <ion-img id="grooming" src="assets/images/grooming-icon.png"></ion-img>
          </div>
        </div>
      </ion-card>
    </a>

    <a href="exercise">
      <ion-card>
        <div class="exer">
          <div>
            <ion-card-title>Exercise</ion-card-title>
          </div>
          <div>
            <ion-img id="exercise" src="assets/images/excercise-icon.png"></ion-img>
          </div>
        </div>
      </ion-card>
    </a>
  </div>
</ion-content>