<!-- Login page UI -->
<ion-content class="ion-padding">
  <h1>Welcome,</h1>
  <h4>Sign in to continue!</h4>

  <!-- Login form -->
  <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
    <!-- Email ID -->
    <ion-item fill="outline">
      <ion-label position="floating">Email ID<span>*</span></ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <!-- Email ID Error Messages -->
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </span><br><br>

    <!-- Password -->
    <ion-item fill="outline">
      <ion-label position="floating">Password<span>*</span></ion-label>
      <ion-input formControlName="pass" [type]="passwordType" clearOnEdit="false"></ion-input>
      <ion-icon [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()' slot="end"></ion-icon>
    </ion-item>
    <!-- Password Error Messages -->
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.required">
      Password is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.pass.errors?.pattern">
      Password should be min 8 and max 10 characters in length with at least one uppercase, lowercase, one digit, one special character.
    </span><br>

    <a href="forgot-pass" class="forgot-password-link">Forgot Password</a>

    <!-- Firebase error message -->
    <span class="error">{{this.loginForm.value['error']}}</span><br><br>

    <ion-button type="submit" expand="block">Login</ion-button>
  </form>

  <p class="footer-text">I'm a new user, <a href="sign-up">Sign Up</a></p>
</ion-content>