<!-- Training Page UI -->
<ion-content class="ion-padding">
  <div class="header">
    <div class="arrow">
      <a href="informative-videos"><ion-icon name="arrow-back" size="large"></ion-icon></a>
    </div>
    <div class="training">
      <p class="train">Training</p>
    </div>
  </div>

  <div id="container">
    <ion-card>
      <div>
        <ion-card-title>Obedience Dog Training</ion-card-title>
        <ion-card-subtitle>Needs to be performed at a basic level</ion-card-subtitle>
        <div class="button1">
          <a href="https://youtu.be/xpzjtHPQpOk">
            <ion-button shape="round">
              <div class="triangle">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </div>
              Start
            </ion-button>
          </a>
        </div>
      </div>

    </ion-card>

    <ion-card>
      <div>
        <ion-card-title>Behavioural Dog Training</ion-card-title>
        <ion-card-subtitle>Helps the dog how to behave properly</ion-card-subtitle>
        <div class="button1">
          <a href="https://youtu.be/1oDGa2yPb2g">
            <ion-button shape="round">
              <div class="triangle">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </div>
              Start
            </ion-button>
          </a>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div>
        <ion-card-title>Protection Training</ion-card-title>
        <ion-card-subtitle>Teaches them to be great guard dogs</ion-card-subtitle>
        <div class="button1">
          <a href="https://youtu.be/JIVEOmocEkc">
            <ion-button shape="round">
              <div class="triangle">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </div>
              Start
            </ion-button>
          </a>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>