<!-- Accepting pet dog information page 1 -->
<ion-content class="ion-padding">
  <h1>Pet Info</h1>
  <h4>Enter your pet dog's information</h4>

  <!-- Accepting pet dog information form -->
  <form [formGroup]="acceptForm1" (ngSubmit)="submitForm()">
    <!-- Name -->
    <ion-item fill="outline">
      <ion-label position="floating">Pet dog name<span>*</span></ion-label>
      <ion-input formControlName="name_pet" type="text"></ion-input>
    </ion-item>
    <!-- Name Error message -->
    <span class="error" *ngIf="isSubmitted && errorControl.name_pet.errors?.required">
      Name is required.
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.name_pet.errors?.minlength">
      Name should be min 3 chars long.
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.name_pet.errors?.pattern">
      It should only include first name of the pet dog, special symbols, spaces and digits not allowed.
    </span><br><br>

    <!-- Gender -->
    <ion-item fill="outline">
      <ion-label>Gender<span>*</span></ion-label>
      <ion-select formControlName="gender">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- Gender Error message -->
    <span class="error" *ngIf="isSubmitted && errorControl.gender.errors?.required">
      Gender is required.
    </span><br><br>

    <!-- Date of birth -->
    <ion-item fill="outline">
      <ion-label position="floating">Date of Birth<span>*</span></ion-label>
      <ion-input formControlName="dob" type="date" id="dob" class="dob"></ion-input>
      <ion-icon name="calendar-outline" slot="end"></ion-icon>
    </ion-item>
    <!-- DOB Error message -->
    <span class="error" *ngIf="isSubmitted && errorControl.dob.errors?.required">
      DOB is required.
    </span><br><br>

    <!-- Height -->
    <ion-item fill="outline">
      <ion-label position="floating">Height in inches<span>*</span></ion-label>
      <ion-input formControlName="height" type="number"></ion-input>
    </ion-item>
    <!-- Height Error message -->
    <span class="error" *ngIf="isSubmitted && errorControl.height.errors?.required">
      Height is required.
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.height.errors?.min">
      Minimum height is 3.8 inches
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.height.errors?.max">
      Maximum height is 35 inches
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.height.errors?.pattern">
      Height cannot contain more than 1 decimal points
    </span><br><br>

    <!-- Weight -->
    <ion-item fill="outline">
      <ion-label position="floating">Weight in kgs<span>*</span></ion-label>
      <ion-input formControlName="weight" type="number"></ion-input>
    </ion-item>
    <!-- Weight Error message -->
    <span class="error" *ngIf="isSubmitted && errorControl.weight.errors?.required">
      Weight is required.
    </span><span class="error" *ngIf="isSubmitted && errorControl.weight.errors?.min">
      Minimum weight is 1 kg.
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.weight.errors?.max">
      Maximum weight is 145 kgs
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.weight.errors?.pattern">
      Weight cannot contain more than 1 decimal points
    </span><br><br>

    <ion-button type="submit" expand="block">Next</ion-button>
  </form>

</ion-content>