<!-- Grooming UI -->
<ion-content class="ion-padding">
  <div class="header">
    <div class="arrow">
      <a href="informative-videos"><ion-icon name="arrow-back" size="large"></ion-icon></a>
    </div>
    <div class="grooming">
      <p class="grooms">Grooming</p>
    </div>
  </div>

  <div id="container">
    <ion-card>
      <div>
        <ion-card-title>Fur Wash</ion-card-title>
        <ion-card-subtitle>Needs to be washed on regular basis</ion-card-subtitle>
        <div class="button1">
          <a href="https://youtu.be/1wrlx_Tmrz4">
            <ion-button shape="round">
              <div class="triangle">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </div>
              Start
            </ion-button>
          </a>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div>
        <ion-card-title>Fur Brushing</ion-card-title>
        <ion-card-subtitle>Keeps the dog's fur neatly combed</ion-card-subtitle>
        <div class="button1">
          <a href="https://youtu.be/DkJ58C61unQ">
            <ion-button shape="round">
              <div class="triangle">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </div>
              Start
            </ion-button>
          </a>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div>
        <ion-card-title>Nail Trimming</ion-card-title>
        <ion-card-subtitle>Helps to have trimmed and clean nails</ion-card-subtitle>
        <div class="button1">
          <a href="https://youtu.be/sisprxhsc6I">
            <ion-button shape="round">
              <div class="triangle">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </div>
              Start
            </ion-button>
          </a>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>