<!-- Accepting pet dog information page 2 -->
<ion-content class="ion-padding">
  <a (click)="back()"><ion-icon name="arrow-back" size="large"></ion-icon></a>
  <h1>Pet Info</h1>
  <h4>Enter your pet dog's information</h4>

  <!-- Accepting picture and bio form -->
  <form [formGroup]="acceptForm2" (ngSubmit)="submitForm()">
    <!-- Profile Picture -->
    <ion-item fill="outline">
      <ion-label position="floating">Profile Picture<span>*</span></ion-label>
      <ion-input id="profile" formControlName="image" type="file" (change)="chooseFile($event)" accept="image/png, image/gif, image/jpeg"></ion-input>
    </ion-item>
    <!-- Profile Picture Error message -->
    <span class="error" *ngIf="isSubmitted && errorControl.image.errors?.required">
      Profile Picture is required.
    </span><br>
    <p>Note - Please select a jpg or png image and zoomed in image, so that the pet dog's face is visible</p>

    <!-- Bio -->
    <ion-item fill="outline">
      <ion-label position="floating">Bio for your pet dog<span>*</span></ion-label>
      <ion-textarea formControlName="bio" [autoGrow]="true" rows="1"></ion-textarea>
    </ion-item>
    <!-- Bio Error message -->
    <span class="error" *ngIf="isSubmitted && errorControl.bio.errors?.required">
      Bio is required.
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.bio.errors?.minlength">
      Bio needs to contain min 10 characters.
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.bio.errors?.maxlength">
      Bio needs to contain max 70 characters.
    </span>
    <span class="error" *ngIf="isSubmitted && errorControl.bio.errors?.pattern">
      Bio cannot contain only spaces, characters like @, [], etc. It needs to start with a character.
    </span><br><br>

    <ion-button type="submit" expand="block" class="submit">Submit</ion-button>
  </form>
</ion-content>