<!-- Registeration page UI -->
<ion-content class="ion-padding">
  <h1>Create Account</h1>
  <h4>Sign up to get started!</h4>

  <!-- Registeration form -->
  <form>
    <!-- Full name -->
    <ion-item fill="outline">
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <!-- Email ID -->
    <ion-item fill="outline">
      <ion-label position="floating">Email ID</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <!-- Password -->
    <ion-item fill="outline">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
    <ion-button expand="block">Register</ion-button>
  </form>

  <p class="footer-text">I'm already a member, <a href="login">Sign In</a></p>
</ion-content>