*{
    font-family: Quicksand;
}

ion-toolbar {
    --background: #256D85;
}

ion-title {
    padding-left: 30%;
    --color: white;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #6A6A6A;
    margin: 0;
}

#container h1 {
    color: #2C3246;
    margin: 0;
}


#apple {
    width: 319px;
    height: 113px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60%;
}

image-overlay {
    background-color: rgba(32, 4, 21, 0.5);
}