<ion-header>
  <ion-toolbar>
    <ion-title>Meal Of The Day</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="container">
    <h1>Apples</h1>
    <br>
    <p>Apples provide many important vitamins for dogs which includes vitamins A and C. They are also a good source of
      fiber which can help regulate a dogs digestion.<br>
      <br> They also provide a way to keep your dog's teeth clean and help to freshen their breath. However, we should
      remove the core and the seeds of the apple before giving it to the dog.
    </p>
    <br>
    <div class="image-overlay">
      <ion-img id="apple" src="assets/images/Apples-pic.png"> </ion-img>
    </div>
  </div>
</ion-content>