<!-- Quiz Page 2 -->
<ion-content class="ion-padding">
  <div class="header">
    <div class="arrow">
      <a (click)="back()"><ion-icon name="arrow-back" size="large"></ion-icon></a>
    </div>
    <div class="quiz">
      <p class="quizes">Quiz</p>
    </div>
  </div>

  <div class="Dog">
    <ion-img id="dogs" src="assets/images/dog-img2.png"></ion-img>
  </div>

  <p id="ques">Are they socialized?</p>
  <div class="ans">
    <a (click)="navigatePage('1')"><p>1. Very much</p></a>
    <a (click)="navigatePage('2')"><p>2. Socialized with close ones</p></a>
    <a (click)="navigatePage('3')"><p>3. Not at all</p></a>
  </div>
</ion-content>