<!-- Contact Us Page UI -->
<ion-content class="ion-padding">
  <div class="header">
    <div class="arrow">
      <a href="home-page"><ion-icon name="arrow-back" size="large"></ion-icon></a>
    </div>
    <div class="profile-page">
      <p class="profile">Profile Page</p>
    </div>
  </div>

  <ion-img [src]="img_src_string"></ion-img>

  <div class="text-div">
    <p><b>Name of pet dog:</b> {{ name_pet }}</p>
    <p><b>Bio:</b> {{ bio }}</p>
    <p><b>Height:</b> {{ height }} inches</p>
    <p><b>Weight:</b> {{ weight }} kgs</p>
  </div>
</ion-content>