<!-- Forgot Password UI -->
<ion-content class="ion-padding">
  <a href="login"><ion-icon name="arrow-back" size="large"></ion-icon></a>
  <h4>Forgot Password</h4>
  <p>Please enter your email address to reset your password.</p>

  <ion-img src="assets/images/forgot-pass-icon.png"></ion-img>

  <!-- Send email for resetting -->
  <form>
    <!-- Email ID -->
    <ion-item fill="outline">
      <ion-label position="floating">Email ID</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>

    <ion-button expand="block">Reset Password</ion-button>
  </form>

</ion-content>