<!-- Forgot Password UI -->
<ion-content class="ion-padding">
  <a href="login"><ion-icon name="arrow-back" size="large"></ion-icon></a>
  <h4>Forgot Password</h4>
  <p>Please enter your email address to reset your password.</p>

  <ion-img src="assets/images/forgot-pass-icon.png"></ion-img>

  <!-- Send email for resetting -->
  <form [formGroup]="forgotForm" (ngSubmit)="submitForm()">
    <!-- Email ID -->
    <ion-item fill="outline">
      <ion-label position="floating">Email ID<span>*</span></ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <!-- Email ID Error Messages -->
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
      Please provide valid email id.
    </span><br><br>

    <!-- Firebase error message -->
    <span class="error">{{this.forgotForm.value['error']}}</span><br><br>

    <ion-button type="submit" expand="block">Reset Password</ion-button>
  </form>

</ion-content>