* {
    font-family: Quicksand;
}

ion-header {
    ion-menu-button {
        color: var(--ion-color-primary);
    }

    ion-title {
        padding-left: 23%;
    }
}

#container {
    a {
        text-decoration: none;

        ion-card {
            --background: #8FE3CF;
            --color: #2C3246;
            width: 335px;
            height: 159px;
            text-align: center;
            border-radius: 16px;
            margin-top: 24px;

            #dog {
                width: 160px;
                height: 90px;
                padding-top: 10px;
                padding-bottom: 17px;
                margin: auto;
            }

            #playbutton {
                width: 120px;
                height: 80px;
                margin-left: auto;
                margin-right: auto;
                padding-top: 10px;
                padding-bottom: 17px;
            }

            ion-card-content {
                font-size: 18px;
            }
        }
    }
}