<!-- Home Page UI -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false" (click)="openMenu()">
        <img src="assets/icon/menu-icon.png">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Love For Dogs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <a href="meal-day">
      <ion-card>
        <ion-img id="dog" src="assets/images/meal-icon.png"></ion-img>
        <ion-card-content>Meal Of The Day</ion-card-content>
      </ion-card>
    </a>

    <a href="informative-videos">
      <ion-card>
        <ion-img id="playbutton" src="assets/images/Videos-icon.png"></ion-img>
        <ion-card-content>Informative Videos</ion-card-content>
      </ion-card>
    </a>
  </div>
</ion-content>