<!-- Music Page -->
<ion-content class="ion-padding">
  <div class="header">
    <div class="arrow">
      <a href="home-page"><ion-icon name="arrow-back" size="large"></ion-icon></a>
    </div>
    <div class="music">
      <p class="mus">Music</p>
    </div>
  </div>

  <div id="container">
    <a href="https://www.youtube.com/watch?v=68AAOKFVS_c">
      <ion-card>
        <div class="real-love">
          <div>
            <ion-card-title>Real Love</ion-card-title>
          </div>
          <div>
            <ion-img id="RealLove" src="assets/images/real_love.png"></ion-img>
          </div>
        </div>
      </ion-card>
    </a>

    <a href="https://www.youtube.com/watch?v=wUaL8c2Opmk">
      <ion-card>
        <div class="poor-fool">
          <div>
            <ion-card-title>Poor Fool</ion-card-title>
          </div>
          <div>
            <ion-img id="PoorFool" src="assets/images/poor_fool.png"></ion-img>
          </div>
        </div>
      </ion-card>
    </a>

    <a href="https://www.youtube.com/watch?v=SQTHB4jM-KQ">
      <ion-card>
        <div class="wild-horses">
          <div>
            <ion-card-title>Wild Horses</ion-card-title>
          </div>
          <div>
            <ion-img id="horses" src="assets/images/wild_horses.png"></ion-img>
          </div>
        </div>
      </ion-card>
    </a>
  </div>
</ion-content>