<!-- Exercise UI -->
<ion-content class="ion-padding">
  <div class="header">
    <div class="arrow">
      <a href="informative-videos"><ion-icon name="arrow-back" size="large"></ion-icon></a>
    </div>
    <div class="exercise">
      <p class="exer">Exercise</p>
    </div>
  </div>

  <div id="container">
    <ion-card>
      <div>
        <ion-card-title>Dog Agility</ion-card-title>
        <ion-card-subtitle>Outdoor exercises for increasing stamina </ion-card-subtitle>
        <div class="button1">
          <a href="https://youtu.be/vkxggodZzqc">
            <ion-button shape="round">
              <div class="triangle">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </div>
              Start
            </ion-button>
          </a>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div>
        <ion-card-title>Scent Training</ion-card-title>
        <ion-card-subtitle>Trained for finding objects</ion-card-subtitle>
        <div class="button1">
          <a href="https://youtu.be/f4a0V8Q_k8Q">
            <ion-button shape="round">
              <div class="triangle">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </div>
              Start
            </ion-button>
          </a>
        </div>
      </div>
    </ion-card>

    <ion-card>
      <div>
        <ion-card-title>Swimming</ion-card-title>
        <ion-card-subtitle>Helps to get trained in water</ion-card-subtitle>
        <div class="button1">
          <a href="https://youtu.be/56Kxqf68IEw">
            <ion-button shape="round">
              <div class="triangle">
                <ion-icon name="caret-forward-outline"></ion-icon>
              </div>
              Start
            </ion-button>
          </a>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>